.footer {
  padding-top: 45px;
  color: $color-light;
  background-color: $color-dark;

  &-fifth {
    margin: 20px 0;
    text-align: center;
  }

& ul {
  list-style: none;
  padding: 0;
}

& a {
  color: $color-footer;
&:hover,
  &:focus {
    color: $color-light;
  }
}
}

.footer-fifth a {
  color: $color-light;
  font-weight: bold;
}

